<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Manager</title>
	<!-- JQuery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--        -->
	<script type="text/javascript" src="../javascripts/settings.js"></script>
	<script type="text/javascript" src="../javascripts/invitepage.js"></script>
	<script type="text/javascript" src="../javascripts/js.cookie.js"></script>
	<link type="text/css" rel="stylesheet" href="../stylesheets/invitepage.css">
</head>
<body>
<div class="container-fluid">
	<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">You have been invited:</h3>
		</div>
			<div class="panel-body">
				<div class="row">
				<div class="col-md-3">
					<form id="participateForm" onsubmit="return false">
						<button type="submit" id="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
				<div class="col-md-3">
						<input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" maxlength="50" required>
				</div>
				<div class="col-md-3">
						<input type="text" id="name" name="name" placeholder="Enter your name" class="form-control" maxlength="50" autocomplete="false" required>
						<input type="text" id="passHint" class="form-control" value="Please enter  your password:" disabled>
				</div>
				<div class="col-md-3">
						<input type="password" id="pass" name="pass" placeholder="Password" class="form-control" maxlength="50" autocomplete="false" required>
						<a href onclick="return false">
							<span onclick="newPassword()"id="passNew">Send new password</span>
						</a>
					</form>
				</div>
				</div>
				<div class="row" id="err"><br>
					<div class="col-md-12">
						<div class="alert alert-danger" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							<span class="sr-only">Error:</span>
							<span id="errMessage"></span>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-4">
						<div id="imageContainer">
							<img src="<%= image %>" alt="error loading image" class="img img-responsive" id="image">
						</div>
					</div>
					<div class="col-md-8">
						<h2 id="title"><%= title %></h2>
						<div class="row">
							<div class="col-md-4">
							<dl>
								<dt>When:</dt>
								<dd><%= dateStart %></dd>
								<br>
								<dt>Registration ends:</dt>
								<dd id="dateReg"><%= dateReg %></dd>
							</dl>
							</div>
							<div class="col-md-4">
							<dl>
								<dt>Who:</dt>
								<dd><%= ownerName %></dd>
								<br>
								<dt><%= priceP %></dt>
								<dd><%= price %></dd>
							</dl>
							</div>
							<div class="col-md-4">
							<dl>
								<dt><%= capacityC %></dt>
								<dd><%= capacity %></dd>
								<br>
								<dt><%= leftSpaceL %></dt>
								<dd id="leftSpace"><%= leftSpace %></dd>
							</dl>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<dl>
							<dt>What:</dt>
							<dd><div id="description"><%= description %></div></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
	</div>
	<script>
		var evID=<%= evID %>;
	</script>
</body>
</html>